.footer {
    padding: .5rem;
    display: grid;
    grid-template-rows: 200px, 1fr;
    gap: 1rem;
    .footer_title {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .footer_msg {
        width: 100%;
        p {
            
            text-align: right;
            font-family: var(--font-text);
            font-size: 12px;
            
        }
    }
    
    .footer_fontes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        img {

        }
    }
}