.hero {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-top: none;
    
    
    .left_hero {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
        padding: 1rem;
        font-family: var(--font-title);
        
        
        .titleSubtitle {
            margin: 0.5rem;
        }

        .line {
            background-color: var(--color-secondary);
            width: 80px;
            height: 4px;
        }   
        
        .hero_description {
            padding: 0.5rem;
            text-align: left;
            font-family: var(--font-text);
            float: left;
            
        }

        .hero_buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 2.2rem;
            padding-top: 0.5rem;
            color: var(--color-primary);

            .verNoMapa {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .favoritos {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .right_hero {
        width: 100%;
        img {
            opacity: .6;
            padding: 1rem;
            max-width: 100%;
            
            
            
        }
    }
}


/* Responsive HERO DESKTOP */
@media(min-width: 1145px) {
    .hero {
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        padding: 0;
        justify-content: end;
        .left_hero {

            .hero_description {
                
            }
        }    
        .right_hero {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;
            img {
                
            }
        }
    }
}
